<h3 class="text-center">View PEO</h3>

<div class="container">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Description</th>
            <th>Cognitive level</th>

            
        </tr>            
    </thead>
    <tbody>
        <tr><!-- *ngFor="let user of users; let i=index;"-->
            <td>PEO 1</td>
            <td>this is the course description</td>
            <td>k1,k2</td>
            
            
            
           
        </tr>
    </tbody>
</table>
</div>